.box {
    border: 2px solid;
    background-color:rgb(245, 231, 153);
}
#classes {
    color: rgb(19, 171, 218);
}
#ids {
    color: rgb(28, 53, 197);
}
#classes > P > b, #ids li > b {
    color: rgb(109, 7, 104)
}

header {
    background-color: rgb(100, 97, 126);
    padding: 5px 20px;
    color: white;
}
main {
    padding: 20px 20px;
    background-color: grey;
}
section {
    padding: 20px;
    margin-bottom: 20px;
}
section h3 {
    margin: 10px 0;
}