.box {
    background-color: rgba(230, 8, 8, 0);
}
html, body {
    margin: 0;
    padding: 0;
}
body {
    background-color:rgb(192, 204, 21);
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box {
    width: 100px;
    height: 100px;
    background-color:violet;
}