html{
    padding: 0;
    margin: 0;
}

body {
    padding: 1em;
    margin: 0;
}

header {
    background-color: slateblue;
    color: white;
    text-align: center;
}
header h1  {
    margin: 0;
    line-height: 100px;
}

.inline {
    background-color:lightcyan;
    color:rgb(190, 26, 190);
    padding:2px 5px;
    display:inline;
}

.main {
    border:2px solid blue;
    padding:5px;
}
