#header {
    background-color: lightcoral;
    height:50px;
}

#content {
    background-color:lightgreen;
    width:75%;
    height:400px;
    float:left;
}

#navigation {
    background-color:lightseagreen;
    width:25%;
    height:400px;
    float:right;
}

#footer {
    background-color:lightskyblue;
    height:50px;
    clear:right;
}

div {
    justify-content:center;
    display:flex;
    align-items:center;
}
