body {
    background-color:lightblue;
    color:violet;
    height:95%;
    display:flex;
    justify-content:center;
    align-items:center
}

.font {
    font-family:Arial, Helvetica, sans-serif;
}