body {
    margin: 0;
    flex-direction: column;
    display: flex;
    min-height: 100vh;
   }
header {
    text-align: center;
    background-color: violet;
    padding: 0 25px;
    color: whitesmoke;
}
section {
    padding: 20px;
    text-align: center;
}
.bar {
    display: block;
    width: 90%;
    margin: 0 auto;
    border-radius: 20px;
    overflow: hidden;
    height: 20px;
    background-color:black;
}
.progress {
    display: block;
    width: 4%;
    height: 100%;
    background-color: green;
}

h3 {
    color: darkcyan
}
