.box {
    width:100px;
    height:100px;
    padding:10px;
    background-color:skyblue;
    /* box-sizing: border-box; */
    border-style:solid;
    border-color:lightgreen;
    border-width:10px;
    margin:10px;
}

.content {
    background-color: yellow;
    padding:10px;
    box-sizing: border-box
}

ul {
    position: absolute;
    padding: 0;
    margin-left: 40px;
}
ul li {
    padding: 5px;
}
li::before {
  content: "• ";
  font-size: 100px;
  position: absolute;
  left: -35px;
  line-height: 1.4rem;
}
ul li:nth-child(1)::before {
    color: green
}
ul li:nth-child(2)::before {
    color: red
}
ul li:nth-child(3)::before {
    color: skyblue;
}
ul li:nth-child(4)::before {
    color:violet;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: lightcoral;
}
section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.main {
    display: flex;
}

.content {
    height: 100%;
    display: block;
    width: 100%;   
    text-align: center;
}
