ul li:first-child a {
    color:red;
}

ul li:last-child a {
    color:violet;
}

ul li:nth-child(odd) a {
    color:green;
}

ul li:nth-child(even) a {
    color:yellow
}

ul li a:active {
    color:tomato;
}

ul li a:hover {
    color:darkcyan;
    font-size:2em;
}

ul li a:visited {
    color:darkmagenta;
    font-size:1em
}
body {
    background-color:grey
}

header h1 {
    margin:0;
    line-height:100px;
    background-color:lightsalmon;
    text-align:center;
}
ul a::before {
    content: "⇨  ";
    color:yellow;
}