#id {
    background-color: violet;
}
html .class {
    background-color:red;
}
.class {
    background-color: yellow;
}
html body {
    background-color:skyblue;
}
body {
    background-color: goldenrod;
}