.box {
    width:100px;
    height:100px;
    padding:10px;
    background-color:skyblue;
    text-align:center;
    border-style:solid;
    border-color:lightgreen;
    border-width:10px;
    margin:10px;
    box-sizing:border-box;
}

.hidden {
    /* display:none; */
    /* visibility:hidden; */
    opacity:.3
}

section {
    display:flex;
    align-items:center;
    justify-content:center;
    height:100%;
}

html , body {
    margin:0;
    padding:0;
    background-color:violet;
}