html, body {
    margin: 0;
    padding: 0;
}
body {
    background-color: skyblue;
    color: rgba(0,0,0,.8);
    padding: 20px;
}
#inline, #block {
    margin-bottom: 20px;
    padding: 20px;
    border: 2px solid violet;
}
#inline > * {
    background-color: goldenrod; 
    margin: 10px 0px 10px 10px;
    padding: 5px;
}
#block > * {
    box-sizing: border-box;
    background-color: white;
    padding: 20px;
    margin: 10px;
}